.AkiraPlayer .player-loading-background-image-loaded {
    filter: blur(30px);
}

.AkiraPlayer .WatchNext-still {
    filter: blur(20px);
}

.nfp-episode-preview .thumbnail-image {
    filter: blur(20px);
}
